/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.card{
  transition: 0.3s;
  background:#2d3340;
  box-shadow:0 2px 4px 0 rgba;
  color:white;
}
.card p{
  padding-left:20px;
}
.center-header {
    
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    position: relative;
    top: -353px;
    left: 0;
    text-align: center;
}
.view{
  background:#22222c;
}
body{
  background:#22222c !important;
  /*border:1px solid #979797;*/
}
.cap{
  margin:0;
  text-transform: uppercase;
  color: white;
  padding-left: 8px;
  padding-top:10px;
}
.pager{
  position: relative;
  bottom:0px;
  left:calc(100% - 40px);
  background-image:-webkit-linear-gradient(top left, #ad9efc 0%, #22222c 50%);
  background-image:-moz-linear-gradient(top left, #ad9efc 0%, #22222c 50%);
  background-image:-o-linear-gradient(top left, #ad9efc 0%, #22222c 50%);
  background-image:linear-gradient(to bottom right, #ad9efc 0%, #22222c 50%);
  width:40px;
  height:40px;
}
.graph-home-image {
    position: absolute;
    top: 59px;
    left: 57px;
    width: 643px;
}
.overall-header {
  position: absolute;
    color: white;
    top: 140px;
    left: 188px;
    font-size: 40px;
    width: 50%;
    text-align: center;
}
.overall-header.offset-header{
  top:220px;
  font-size: 60px;
}

.image-card {
    margin-left: 14px;
    padding-top: 14px;
}

.dashboard-header {
  text-transform: uppercase;
  color:white;
  font-size: 30px;
}

#smart-filter {
      background: none;
    border: none;
    margin:16px;
    width:calc( 100% - 32px);
}
.card{
  color:white;
}
.trend-point{
  border-bottom: 1px solid lightgrey;
}

.trend-point h3 {
  margin-left: 20px;
}

#more-metrics{
  color: white;
  text-transform: uppercase;
  background:#88a4db;
  box-shadow:0 4px 5px 3px rgba(0,0,0,0.50);
  padding:20px;
  border-radius:8px;
  width:260px;
  height:55px;
}

.bottom-footer{
  
    margin-top: 50px;
    margin-bottom: 100px;
}